{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}

<section class="hero" style="background-image: url(/static/image/blockchain-gace9c84fc_1280.png); background-position: center; background-repeat: no-repeat;background-size: cover; height: 70vh; border-radius: 1px solid; font-weight: bold; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="hero-body">
    </div>
    <h1 class="title is-5 has-text-centered mb-2" style="color: rgb(14, 10, 51);">ANALYSE DE VOS PERFORMANCES WEB</h1>
    <h4 class="subtitle is-5 has-text-centered mt-2" style="color: rgb(14, 10, 51);">VOTRE SITE WEB PERFORME-T-IL?</h4>
</section>


<section class="section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        
        <!--<p class="subtitle is-6">
            Le référencement naturel (SEO) est loin d’être la seule façon d’amener plus de visiteurs sur votre site Web, le référencement payant (ou pay-per-click) représente une source de trafic potentielle extrêmement importante. Puisque Google est le moteur de recherche le plus souvent utilisé (90% des recherches dans le monde sont faites à partir de Google), mieux vaut y concentrer ses efforts pour les campagnes de référencement payant. De plus, Google offre un service bien implanté de publicité au clic, nommé Google Adwords. Ce qui est le plus avantageux avec ce type de campagne est l’on paye au nombre de clics qui se fait sur la publicité, ce qui assure que l’on en a pour son argent !
        </p>-->
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">GOOGLE ANALYTIC:</h4>
        <p class="subtitle is-6">Il existe plusieurs facteurs pouvant influencer les performances de votre site Web et heureusement, il existe le logiciel Google Analytic qui permet de les mesurer. En installant ce logiciel gratuit sur votre site Web, nous pouvons constater le nombre de visites, le temps moyen passé sur celui-ci, l’origine des visiteurs, le nombre de pages visitées par les utilisateurs et bien plus encore ! En analysant ces statistiques, nous sommes en mesure de vous offrir des rapports détaillés qui permettent d’évaluer les points à améliorer pour toujours maximiser votre présence sur le Web.</p>
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">ANALYSE DE VOTRE SITE WEB ACTUEL</h4>
        <p class="subtitleis-6">Votre site Web actuel contient des problèmes fonctionnels qui nuisent à l’expérience que vous voulez offrir à vos clients ou il ne vous plaît tout simplement pas? L’Agence Flex prend le temps de bien évaluer et de tester l’ensemble de votre site Web pour ainsi vous offrir une proposition qui répond réellement à vos besoins. Si votre site Web n’a besoin que d’ajustements à son design, à son ergonomie ou si des bogues sont facilement corrigeables, nous ne vous offrirons pas nécessairement une refonte complète de celui-ci, mais bien ce dont il a réellement besoin. Cependant, si nous jugeons qu’il nécessite de nombreux changements, la refonte complète du site que nous vous offrirons sera la meilleure option pour repartir sur des bases solides!</p>
        
    </div>
</section>

<!--<section class="section has-text-centered" style="background-color: rgb(14, 10, 51);">
    <div class="container">
        <h1 class="title is-5 has-text-white">BESOIN D'AIDE ?</h1>
        <a href="{% url 'soumission' %}" class="button">DEMANDER  UNE SOUMISSION</a>

    </div>
</section>-->
{% endblock %}