{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}

<section class="hero" style="background-image: url(/static/image/programming-g597e4d879_1280.png); background-position: center; background-repeat: no-repeat;background-size: cover; height: 70vh; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="hero-body">
    </div>
    <h1 class="title is-5 has-text-centered has-text-white">APPLICATION WEB</h1>
    <h4 class="subtitle is-5 has-text-centered has-text-white">SIMPLIFIEZ VOUS LA VIE</h4>
</section>


<section class="section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <p class="subtitle is-6">
            Les applications Web existent sous-différentes formes : les messageries internes, les jeux, les moteurs de recherche, les intranets, les boutiques en ligne et toutes autres pages Web qui permettent aux utilisateurs d’accomplir des tâches précises. Ce ne sont pas celles que l’on peut télécharger à partir du Apple ou du Google Store. Elles peuvent avoir les mêmes fonctionnalités, mais elles sont utilisables directement à partir d’un site Web. Ces applications sont donc plus faciles d’accès puisqu’on n’a pas besoin de les télécharger.
        </p>
        <p class="subtitle is-6">Les applications Web offrent une multitude de possibilités et de fonctionnalités, leurs buts principaux sont de vous simplifier la vie, de vous faire économiser du temps, d’automatiser plusieurs de vos actions et d’améliorer l’expérience que vous offrez à vos clients.</p>
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">EXEMPLE CONCRET D’UNE APPLICATION WEB:</h4>
        <p class="subtitle is-6">Vous travaillez dans un domaine où vous devez remplir des soumissions sous forme de formulaire directement chez vos clients? Nos Applications Web peuvent automatiser tout ce processus. Vous remplissez tout le formulaire directement sur votre cellulaire et vous pouvez même faire signer ceux-ci directement sur votre appareil. Ensuite, toutes ces informations sont sauvegardées dans la base de données du site, vous pouvez donc y avoir accès facilement n”importe quand. Il est aussi possible de créer un espace-client afin que ceux-ci puissent avoir accès aux informations que vous voulez leurs présenter, une copie de la soumission, des dates importantes, des photos prises lors de la rencontre, etc.. Vous pourrez aussi envoyer des courriels automatisés à vos fournisseurs pour les informer des matières nécessaires ou d’envoyer la soumission acceptée à vos clients. Bref, tout est réalisable !</p>
        
    </div>
</section>

{% endblock %}