{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}

<section class="hero" style="background-image: url(/static/image/b1.jpg ); background-position: center; background-repeat: no-repeat;background-size: cover; height: 70vh; border-radius: 1px solid; font-weight: bold; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="hero-body">

    </div>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z63K0R9P6Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z63K0R9P6Q');
</script>
</section>

<section class="section" style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding: 15px;">
    <div class="container">
        <h4 class="title is-2 has-text-centered" style="color: rgb(46, 29, 198); ">Blogue</h4>

            <p class="subtitle is-5 has-text-centered mt-3">
                Le seul blogue qu’il faut lire pour se tenir au courant des innovations importantes en marketing digital, connaître nos meilleurs conseils en transformation numérique et réussir votre stratégie de commercialisation internationale sur le Web.
            </p>
                {% for blog_posts in blog_post %}
                <div class="card m-4 is-small" style="background-color:rgb(185, 177, 255); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; box-shadow: 4px 4px rgb(168, 161, 159); margin-top: 5px; padding: 10px;">
                  <img src="{{ blog_posts.image.url }}" style="height: 150px;"  alt="">
                    <h6 class="subtitle is-6 has-text-black" style="font-family: 'Courier New', Courier, monospace;">{{blog_posts.date}} - Par {{blog_posts.auteur}} </h6>
                      <h4 class="subtitle is-5 has-text-black" style="font-family:'Courier New', Courier, monospace; font-weight: bold;">{{blog_posts.titre}}</h4>
                      <a href="{% url 'detail' blog_posts.slug  %}" class="button is-info is-small">Lire l'article</a>
                    </div>
                {% endfor %}
            </div>
    </div>
</section>






<style>




.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

/*
.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}
*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
</style>
{% endblock %}