{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}

<section class="hero" style="background-image: url(/static/image/shopping-cart-g60a1cc71d_1920.png); background-position: center; background-repeat: no-repeat;background-size: cover; height: 70vh; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="hero-body">
    </div>
</section>


<section class="section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <h1 class="title is-5 has-text-centered" style="color: rgb(14, 10, 51);">BOUTIQUE EN LIGNE</h1>
        <h4 class="subtitle is-5 has-text-centered" style="color: rgb(14, 10, 51);">AUGMENTEZ VOS VENTES</h4>
        <p class="subtitle is-6">
            Posséder une boutique en ligne est devenu un atout majeur pour bien des types de commerces. En effet, entre 2016 et 2017, les ventes totales en ligne ont grimpé de 47% et la tendance n’est pas près de s’estomper! De plus, il est devenu de plus en plus facile pour vous de gérer votre propre boutique en ligne. De nombreux logiciels de E-Commerce ont été développés dans les dernières années, comme PrestaShop, Magento, WooCommerce, Shopify et OpenCart, vous permettant ainsi d’avoir beaucoup de liberté dans la gestion de votre boutique. Tous ces logiciels ont différentes fonctions et avantages, c’est pourquoi nous nous occuperons d’évaluer vos besoins pour vous proposer la meilleure solution possible.
        </p>
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">PAIEMENTS EN LIGNE</h4>
        <p class="subtitle is-6">Il existe plusieurs logiciels disponibles pour être en mesure d’accepter les paiements par cartes de crédit qui font directement le lien avec un compte bancaire. <br> Que ce soit Stripe, Moneris ou Paypal, nous pourrons l’intégrer à votre boutique en ligne et ainsi faciliter toutes vos transactions.</p>
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">GESTION DE L’INVENTAIRE</h4>
        <p class="subtitle is-6">
            Nous savons qu’une bonne gestion de votre inventaire est une nécessité pour le succès de votre commerce. C’est pourquoi nous pouvons synchroniser votre logiciel de gestion d’inventaire directement avec le site Web pour ainsi toujours avoir les vraies données en temps réel.
        </p>
    </div>
</section>

<!--<section class="section has-text-centered" style="background-color: rgb(14, 10, 51); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <h1 class="title is-5 has-text-white">BESOIN D'AIDE ?</h1>
        <a href="{% url 'soumission' %}" class="button">DEMANDER  UNE SOUMISSION</a>

    </div>
</section>-->
{% endblock %}