{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}

<section class="section" style=" font-family:monospace;">
    <div class="container">
    
    <h1 class="title is-4 has-text-centered" style="color: rgb(14, 10, 51);">Ils nous font confiance</h1>

    <div class="columns">
        <a href="https://www.academiesherbrooke.com.tn/" target="_blank">

        <div class="column">
            <div class="card m-2 p-2" style="border: 1px solid;" >
            <img src="{% static 'image/logo1.png' %}" style="height: 100px;" alt="">
            <h4 class="subtitle is-5"> Academie sherbrooke tunisie canada</h4>
            <hr>

            <h4 class="subtitle is-6" style="text-decoration: underline;">depuis 2021</h4>
        </a>

        </div>
    </div>
        <div class="card m-2 p-2" style="border: 1px solid;">
        <div class="column">
            <a href="http://www.ecs-formation.com/" target="_blank">
            <img src="{% static 'image/logo-theme.png' %}" style="height: 100px;" alt="">
            <h4 class="subtitle is-5">Ecs Formation</h4>
            <hr>
            <h4 class="subtitle is-6" style="text-decoration: underline;">depuis 2022</h4>
        </a>
        </div>
    </div>
        <div class="card m-2 p-2" style="border: 1px solid;">
        <div class="column"> 
            
            <img src="{% static 'image/raba0.png' %}" style="height: 200px;" alt="">
            <h4 class="subtitle is-5">E-rabat</h4>
            <hr>

            <h4 class="subtitle is-6" style="text-decoration: underline;">depuis 2022</h4>
        </div>
        
    </div>
    </div>
</div>
</section>


{% endblock %}