{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}

<section class="hero" style="background-image: url(/static/image/illustration-g398660ecb_1280.png); background-position: center; background-repeat: no-repeat;background-size: cover; height: 80vh; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="hero-body">
    </div>
    <h1 class="title is-5 has-text-centered" style="color: rgb(14, 10, 51);">DESIGN WEB</h1>
    <h4 class="subtitle is-5 has-text-centered" style="color: rgb(14, 10, 51);">UNE IMAGE QUI VOUS REPRÉSENTE</h4>
</section>


<section class="section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <p class="subtitle is-6">
            Lorsqu’un utilisateur se rend pour la première fois sur votre site Web, la première chose qu’il remarque est bien entendu le design de celui-ci. Il est donc primordial que le visuel de votre site reflète l’image que vous voulez donner à vos clients. Nous discutons donc avec vous pour connaître vos besoins, vos préférences visuelles et votre vision de votre entreprise. Nous vous présentons par la suite des maquettes fonctionnelles du visuel de votre site Web pour s’assurer que le résultat final concordera avec vos espérances et qu’il saura plaire à vos clients.
        </p>
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">ERGONOMIE ET TENDANCES ACTUELLES</h4>
        <p class="subtitle is-6">Le principal défi lors de la conception du design est de faire en sorte que l’ergonomie de votre site Web soit optimale pour favoriser une navigation agréable pour les utilisateurs. Une erreur commune est de surcharger une page de contenu et ainsi, de créer un sentiment de perte auprès des utilisateurs. Il faut donc trouver le juste milieu et choisir les éléments-clés à mettre en évidence aux bons endroits. Comme dans tout ce qui est visuel, la mode change rapidement, il est donc très important pour nous de rester à l’affût des dernières tendances pour vous offrir des designs au goût du jour!</p>

        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">IMAGE DE MARQUE COMPLÈTE</h4>
        <p class="subtitle is-6">Notre équipe vous aide à définir, construire ou reconstruire votre image de marque et à la partager pour rejoindre votre cible adéquatement et efficacement. Notre processus humain et agile nous permet de travailler de pair avec les membres de votre équipe afin de bien saisir l'essence de votre entreprise. Grâce à nos stratégies de marques, vous aurez un site Web qui transmet le bon message au bon auditoire.</p>

        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">CRÉATION DE LOGO ET CHARTE GRAPHIQUE</h4>
        <p class="subtitle is-6">Votre logo est la signature de votre entreprise, il annonce au monde qui vous êtes et ce que vous apportez.

            Notre équipe de designers cherchent à trouver l'essence de votre entreprise pour la faire rayonner à la hauteur de vos ambitions.
        </p>

        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">MARQUE EMPLOYEUR</h4>
        <p class="subtitle is-6">Sur le marché de l'emploi aujourd'hui, il est primordial de se démarquer pour attirer des talents. En plus d'offrir un environnement de travail stimulant, avec de bons avantages, vous devez vous assurer que vos futurs talents le sachent!

            Notre stratégie de marque employeur vous permet d'identifier, non seulement, ce qui vous distingue, mais également comment le communiquer aux bons prospects.
        </p>

    </div>
</section>

<!--<section class="section has-text-centered" style="background-color: rgb(14, 10, 51); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <h1 class="title is-5 has-text-white">BESOIN D'AIDE ?</h1>
        <a href="{% url 'soumission' %}" class="button">DEMANDER  UNE SOUMISSION</a>

    </div>
</section>-->
{% endblock %}