{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}

<section class="hero" style="background-image: url(/static/image/youtube-g9fe2548da_1280.png); background-position: center; background-repeat: no-repeat;background-size: cover; height: 80vh; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="hero-body">
    </div>
    <h1 class="title is-5 has-text-centered" style="color: rgb(14, 10, 51);">DEGITAL ET SOCIAL MEDIA</h1>
    <h4 class="subtitle is-5 has-text-centered" style="color: rgb(14, 10, 51);">Le social media ou SMO (Social Media Optimization) fait partie intégrante de tout marketing digital efficace.</h4>
</section>


<section class="section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <p class="subtitle is-6">
            En dix ans, les réseaux sociaux comme Facebook, Twitter, Instagram, LinkedIn… sont devenus incontournables. Ils sont tout aussi bien utilisés par les professionnels B2B et les éditeurs SaaS.
        </p>
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">AUGMENTER LA VISIBILITÉ DE SON ENTREPRISE SaaS B2B :</h4>
        <p class="subtitle is-6">en publiant du contenu régulièrement, vous élargirez votre audience et la visibilité de votre activité.</p>

        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">AMÉLIORER LA COMMUNICATION AVEC LES CLIENTS</h4>
        <p class="subtitle is-6">chaque post, like, partage, message privé utilisé par les internautes est un canal de communication.</p>

        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">APPROFONDIR LA CONNAISSANCE DES CLIENTS/PROSPECTS :</h4>
        <p class="subtitle is-6">les informations récoltées permettent d’affiner la connaissance de vos personas et donc de votre offre.
        </p>

        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">GÉNÉRER DE LA CONFIANCE ET DE LA CRÉDIBILITÉ: </h4>
        <p class="subtitle is-6">
            la présence d’une entreprise SaaS sur les réseaux sociaux génère de la confiance et sous-entend une capacité à répondre et traiter les problèmes efficacement.
           
        </p>

    </div>
</section>

<!--<section class="section has-text-centered" style="background-color: rgb(14, 10, 51); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <h1 class="title is-5 has-text-white">BESOIN D'AIDE ?</h1>
        <a href="{% url 'soumission' %}" class="button">DEMANDER  UNE SOUMISSION</a>

    </div>
</section>-->
{% endblock %}