{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}

<section class="hero" style="background-image: url(/static/image/banner-gfffcc226a_1920.jpg); background-position: center; background-repeat: no-repeat;background-size: cover; height: 70vh; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="hero-body">
        <h1 class="title is-2 has-text-centered has-text-white">Notre Savoir faire</h1>
        <h4 class="subtitle is-5 has-text-centered has-text-white">Propulsez votre présence Web au niveau supérieur.</h4>

        
    </div>
</section>


<section class="section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">

        <p class="subtitle is-6">
            Pour favoriser votre succès, nous utilisons les plus récentes technologies en matière de marketing numérique et nous nous assurons que votre site Web soit le plus performant, efficace et évolutif possible.
        </p>
    <div data-aos="zoom-in-up">
        <div class="card" style="background-color:rgb(14, 10, 51); padding: 15px;">
            <h1 class="title is-5 has-text-white">Site Web Vitrine</h1>
            <p class="subtitle is-6 has-text-white">Souhaitez-vous créer une image de marque forte pour votre entreprise ou bien mettre en avant la qualité de vos services?</p>
            <p class="subtitle is-6 has-text-white">Nous pouvons vous aider. En plus d'être responsables de la refonte de votre site internet vitrine, nous pouvons vous accompagner après la mise en ligne afin d'analyser les performances de votre site Internet et effectuer des changements en fonction des résultats obtenus. Votre réussite est notre seul objectif.</p>
        </div>
        </div>
    </div>
</section>

<section class="section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
    <div data-aos="zoom-in-up">

        <div class="card" style="background-color:rgb(14, 10, 51);  padding: 15px;">
            <h1 class="title is-5 has-text-white">Boutique en ligne</h1>
            <p class="subtitle is-6 has-text-white">Désirez-vous une boutique en ligne pour promouvoir vos produits sur Internet? tak-Media se spécialise dans la réalisation de catalogues sur mesure et d'outils de vente en ligne.</p>
            <p class="subtitle is-6 has-text-white">
                Nous sommes à votre écoute pour développer une boutique en ligne fonctionnelle et adaptée à votre réalité. Afin de mettre en valeur vos produits uniques, nous personnaliserons entièrement le design de votre boutique en ligne et de votre espace client, une zone qui propose notamment le suivi des commandes, l'impression des factures, l'ensembles des lieux de livraison, etc.

            </p>
        </div>
        </div>
    </div>
</section>

<!--<section class="section">
    <div class="container">
        <p class="subtitle is-6">
            Pour favoriser votre succès, nous utilisons les plus récentes technologies en matière de marketing numérique et nous nous assurons que votre site Web soit le plus performant, efficace et évolutif possible.
        </p>
        <div class="card">
            <h1 class="title is-5">Site Web Vitrine</h1>
            <p class="subtitle">Souhaitez-vous créer une image de marque forte pour votre entreprise ou bien mettre en avant la qualité de vos services?</p>
            <p class="subtitle">Nous pouvons vous aider. En plus d'être responsables de la refonte de votre site internet vitrine, nous pouvons vous accompagner après la mise en ligne afin d'analyser les performances de votre site Internet et effectuer des changements en fonction des résultats obtenus. Votre réussite est notre seul objectif.</p>
        </div>
        
    </div>
</section>-->

<section class="section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <h1 class="title is-4">Ce que nous faisons pour vous</h1>
        <p class="subtitle is-6">Notre vaste expérience en création de sites Web nous permet d’associer avec brio savoir-faire technique, connaissances du Web et créativité. Chacun de nos sites Internet est un outil personnalisé et performant qui saura soutenir la croissance de votre entreprise. Nous mettons notre expertise à votre service :</p>
        <div class="tags">
            <span class="tag">Sites Web optimisés pour les moteurs de recherche</span>
            <span class="tag">Planification et Stratégie Web</span>
            <span class="tag">Optimisation de la vitesse</span>
            <span class="tag">Installation du CMS</span>
            <span class="tag">Assurance qualité</span>
            <span class="tag">Création de sites web performant</span>
            <span class="tag">Intégration de carte Google Maps</span>
            <span class="tag">Sites Web personnalisés</span>
            <span class="tag">Design UX & UI</span>
            <span class="tag">Formulaire de contact</span>
            <span class="tag">Référencement Naturel</span>
            <span class="tag">Site Internet performant</span>
            <span class="tag">Optimisation des stratégies de conversions</span>
            <span class="tag">Etc.</span>
          </div>
    </div>
</section>

<section class="section" style="font-family:fantasy;">
    <div class="container">
        <h1 class="title is-2 has-text-centered" style="color: rgb(14, 10, 51);">Foire aux questions</h1>
        <p class="subtitle is-5 has-text-centered">Cette foire aux questions vous permet de trouver rapidement les renseignements dont vous avez besoin</p>
        <div class="card m-2 p-2">
            <h1 class="title is-5" style="color: rgb(14, 10, 51);">Combien coûte un site web ?</h1>
            <p class="subtitle is-6">Le prix de conceptions de sites web varie généralement entre 5000 € et 25 000 €. Cependant, le coût final dépend vraiment du type de site Web dont vous avez besoin. Nous avons récemment écrit un guide complet sur le coût d’un site Web pour vous donner une idée des différentes options disponibles.</p>
        </div>

        <div class="card m-2 p-2">
            <h1 class="title is-5" style="color: rgb(14, 10, 51);">Pourquoi êtes-vous si cher ?</h1>
            <p class="subtitle is-6">Le processus que nous utilisons pour créer un site internet prend un certain temps, tout comme la planification et les recherches nécessaires. Contrairement à d’autres agences, nous n’utilisons PAS de « templates ». Nous créons votre site Web à partir de zéro, ce qui signifie que vous obtenez un design unique et adapté à votre entreprise. L’achat d’un site Web chez nous ne doit pas être simplement considéré comme une dépense d’entreprise, car votre site Web est un outil de vente qui devrait vous rapporter de l’argent.</p>
        </div>

        <div class="card m-2 p-2">
            <h1 class="title is-5" style="color: rgb(14, 10, 51);">Pourquoi êtes-vous si bon marché ?</h1>
            <p class="subtitle is-6">Ouais. On nous a aussi posé cette question. Nous passons beaucoup de temps à faire des recherches, à planifier le parcours de l’utilisateur sur votre site et enfin à la conception et à la construction. Nous sommes généralement moins chers que les grandes agences parce que :

                Nous travaillons principalement à distance, vous ne payez ainsi pas pour la machine à RedBull ou les bureaux pour impressionner les clients.
                Nous sommes une petite équipe qui prend en charge un nombre limité de clients chaque année.</p>
        </div>


        <div class="card m-2 p-2">
            <h1 class="title is-5" style="color: rgb(14, 10, 51);">Combien de temps faut-il pour créer un site internet ?</h1>
            <p class="subtitle is-6">Il faut environ 6 à 15 semaines pour la conception de sites web du début à la fin, à condition que nous ayons toutes les informations de votre part. Notre processus de conception Web complet est détaillé ici. De manière générale, le développement d’un site Web sera long si nous n’avons pas reçu tous les textes et images de votre part.</p>
        </div>

        <div class="card m-2 p-2">
            <h1 class="title is-5" style="color: rgb(14, 10, 51);">Comment communiquons nous tout au long developpement web ?</h1>
            <p class="subtitle is-6">Avant de commencer à travailler ensemble, nous aurons généralement une première discussion par téléphone ou Zoom pour discuter du projet. Une fois que nous avons commencé, la plupart des communications auront lieu par courrier électronique ou par Zoom (selon vos préférences).</p>
            <p class="subtitle is-6">Ce fonctionnement rend le processus beaucoup plus facile, car nous avons toutes les informations enregistrées et nous pouvons y revenir plus tard au besoin. Une fois le projet terminé, une session de formation en marketing numérique d’une heure vous sera offerte par Zoom.</p>
        </div>

        <div class="card m-2 p-2">
            <h1 class="title is-5" style="color: rgb(14, 10, 51);">Créer un site internet: De quoi aurez-vous besoin de moi ?</h1>
            <p class="subtitle is-6">Ce n’est pas facile à dire, tout dépend de votre temps et du type de site Web que vous souhaitez. Nous en discuterons plus en profondeur lors de notre appel découvert avant de commencer le projet. Selon le forfait sur lequel nous sommes d’accord, nous pourrions avoir besoin des éléments suivants :</p>
            <li>Images de vous et de votre équipe</li>
            <li>Images de votre lieu de travail</li>
            <li>Contenu du site Web (texte, tableau, PDF, etc.)</li>
            <li>Profils du personnel</li>
            <li>Vidéos à ajouter au site Web</li>
            <li>Information pour vos formulaires de contact</li>


        </div>
        <div class="card m-2 p-2">
            <h1 class="title is-5" style="color: rgb(14, 10, 51);">Proposez-vous un écheancier de paiement ?</h1>
            <p class="subtitle is-6">Oui, nous divisons le paiement en trois. Le premier 50 % sont prélevés à la signature du contrat. Le deuxième paiement est de 25 % à l’acceptation des maquettes et finalement le paiement final se fait à la livraison du projet.</p>
        </div>

        <div class="card m-2 p-2">
            <h1 class="title is-5" style="color: rgb(14, 10, 51);">Ecrivez-vous le contenu du site web ?</h1>
            <p class="subtitle is-6">Oui et non, cela dépend de vos besoins et disponibilités. Nous sommes toujours heureux de rédiger, ou même réviser et améliorer avec nos yeux d’experts le contenu de votre site Web si vous le souhaitez. Notre équipe compte une rédactrice qui peut créer le contenu de votre site Web afin que vous n’ayez pas à le faire. Ne vous inquiétez pas, vous aurez tout de même le dernier mot sur le contenu. Si vous choisissez notre service de rédaction ou de révision, vous devez alors vous réserver un peu de temps pour lire et valider l’ensemble des textes avant la mise en ligne du site Web.</p>
        </div>


        <div class="card m-2 p-2">
            <h1 class="title is-5" style="color: rgb(14, 10, 51);">Comment pouvez-vous le contenu de mon site sans connaitre l'entreprise ?</h1>
            <p class="subtitle is-6">Effectivement, nous ne sommes pas encore des experts de votre entreprise, mais nous allons rapidement le devenir. En plus d’étudier votre marché et les sites Webs de la concurrence, nous vous poserons une série de questions avant de commencer la rédaction du contenu. Selon vos besoins, nous déterminerons une série de pages à rédiger pour votre site Web et nous maîtriserons tous les concepts que nous devons maîtriser pour écrire des phrases inspirantes et convaincantes. Lorsque nous écrivons les textes, notre objectif principal consiste à transformer le plus grand nombre de visiteurs en clients par l’utilisation d’un vocabulaire juste et un ton approprié.</p>
        </div>

        <div class="card m-2 p-2">
            <h1 class="title is-5" style="color: rgb(14, 10, 51);">Est-ce que mon site s'adaptera aux telephones intelligents et aux tablettes ?</h1>
            <p class="subtitle is-6">Oui. Votre site Web sera entièrement réactif et aura fière allure sur tous les appareils. Nous ne facturons pas de supplément pour cela. Pour nous, inclure les deux versions reste désormais standard.</p>
        </div>

        <div class="card m-2 p-2">
            <h1 class="title is-5" style="color: rgb(14, 10, 51);">J'ai deja un site web est-il facile de le changé ?</h1>
            <p class="subtitle is-6">Si vous avez déjà un site Web, c’est génial ! Nous pouvons alors créer votre nouveau site Web pendant que votre autre site Web est toujours en ligne. Lorsque nous serons prêts pour la mise en ligne et que vous serez satisfait du nouveau site, nous pourrons simplement remplacer l’ancien site par le nouveau, sur le même nom de domaine. Cela peut prendre aussi peu que 10 minutes pour que le nouveau site Web soit visible. En d’autres mots, vous remarquerez à peine une baisse de vos chiffres de trafic.</p>
        </div>
    </div>

    
</section>




<section class="section" style="background-image: url(/static/image/banner-ga962d4646_1920.jpg); background-position: center; background-repeat: no-repeat;background-size: cover; border-radius: 1px solid; font-weight: bold; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <h1 class="title is-4 has-text-centered has-text-white">Discutons de votre projet!</h1>
    <div class="container">   
      <div class="field">
        <div class="control">
          <form method="post">
            {% csrf_token %}
            <label class="label has-text-white">Nom</label>
            <input name="nom" type="text" class="input m-2" placeholder="Votre nom">
            <label class="label has-text-white">Courriel</label>
            <input name="courrier" type="email" class="input m-2" placeholder="Votre courriel">
  
            <label class="label has-text-white">Numero</label>
            <input name="numero" type="text" class="input m-2" placeholder="Votre prenom">
         
            <label class="label has-text-white">Sujet</label>
            <select class="select" name="sujet" id="">
              <option value="Création de site Web">Création de site Web</option>
              <option value="Référencement Google">Référencement Google</option>
              <option value="Application web">Application web</option>
              <option value="Google Ads (SEM)">Google Ads (SEM)</option>
              <option value="Marketing">Marketing</option>
              <option value="Autre">Autre</option>
            </select>
              <label class="label has-text-white">Mesage</label>
            <textarea name="message" cols="42" rows="10" placeholder="Message">
  
            </textarea>
            <br>
         
            <input type="submit" class="button is-rounded is-link is-small">
          </form>
        </div>
      </div>
    </div>
  </section>

<!--<div id="modal-js-example" class="modal">
    <div class="modal-background"></div>
  
    <div class="modal-content">
      <div class="box">
        <h1 class="title is-5">J'ai deja un site web est-il facile de le changé ?</h1>
        <p class="subtitle is-6">Si vous avez déjà un site Web, c’est génial ! Nous pouvons alors créer votre nouveau site Web pendant que votre autre site Web est toujours en ligne. Lorsque nous serons prêts pour la mise en ligne et que vous serez satisfait du nouveau site, nous pourrons simplement remplacer l’ancien site par le nouveau, sur le même nom de domaine. Cela peut prendre aussi peu que 10 minutes pour que le nouveau site Web soit visible. En d’autres mots, vous remarquerez à peine une baisse de vos chiffres de trafic.</p>
       
      </div>
    </div>
  
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <button class="js-modal-trigger" data-target="modal-js-example">
    Open JS example modal
  </button>-->





<!--<section class="section has-text-centered" style="background-color: rgb(14, 10, 51); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <h1 class="title is-5 has-text-white">BESOIN D'AIDE ?</h1>
        <a href="{% url 'soumission' %}" class="button">DEMANDER  UNE SOUMISSION</a>
    </div>
</section>-->



{% endblock %}