{% extends 'takmedia/base.html' %}
{% load static %}
{% block content %}

<section class="section" style="background-image: url(/static/image/banner3.png); height: 80vh; background-position: center; background-repeat: no-repeat; background-size: cover;">
  
    <div class="container">
      
     <h3 class="animate-charcter">Optimisez votre presence sur le web</h3>

    </div>

 
  <!--<p class="subtitle is-5 has-text-white has-text-centered">Nous assurons toujours des services de qualité à nos clients, <br> ainsi que des solutions innovatrices pour s’assurer de leur satisfaction la plus complète!</p>-->
</section>



<section class="section">
  <p class="subtitle is-2 has-text-centered  mt-6" style="font-weight: bold; font-family: 'Courier New', Courier, monospace; ;color: rgb(14, 10, 51);">Des stratégies numérique performantes.</p>

  <div class="container">
    <div data-aos="zoom-in-up">
    <div class="box" style="border: 1px solid;">
    <div class="columns">
      <div class="column m-2" style="background-color: rgba(199, 212, 212, 0.89); border-radius: 1px solid; box-shadow: 10px 10px rgb(77, 77, 77);">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family: 'Courier New', Courier, monospace; text-decoration:underline;">
          À PROPOS
        </h4>
        
        <p class="subtitle is-6" style="font-family:fantasy;">TaKTaK-MÉDIA est une agence Web qui se spécialise dans la conception de sites Web, le référencement SEO et les boutiques en ligne. Pourquoi avons-nous choisi le nom Tak-media? Pour représenter notre savoir-faire, l’éventail des services offerts et notre dévouement pour le bonheur de nos clients. Notre équipe de passionnés fera tout en son pouvoir pour s’assurer de votre satisfaction la plus complète!</p>
      </div>
      <div class="column m-2" style="font-weight: bold;">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family: 'Courier New', Courier, monospace; ">EXPERTISE DIVERSIFIÉE</h4>
        <p class="subtitle is-6" style="font-family:fantasy;" >Étant très à l’aise dans pratiquement tous les langages de programmation et dans de nombreuses technologies et logiciels, notre expertise nous permet d’accomplir tous types de projets. avez vous une idée? Nous saurons la concrétiser!</p>
      </div>
      <div class="column" style="font-weight: bold;">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family: 'Courier New', Courier, monospace; ">
          FIABLE ET DE CONFIANCE
        </h4>
        <p class="subtitle is-6" style="font-family:fantasy;">Nous désirons avoir des relations à long terme avec notre clientèle et cela passe certainement par une confiance réciproque. Nous ne sommes pas du genre à essayer de vous vendre quelque chose dont vous n’avez pas besoin, c’est pourquoi nous prenons le temps de bien évaluer la solution optimale pour vous.</p>
      </div>
    </div>
  </div>
</div>
  </div>
</section>



<section class="section">
  <div class="container">
 <h4 class="title is-2 mb-6 has-text-centered" style="font-weight: bold; font-family: 'Courier New', Courier, monospace; color: rgb(14, 10, 51); ">Le Web est notre passion </h4>
    <div class="columns">
      <div class="column">
        <img src="{% static 'image/bullet-g056c81a50_1920.png' %}" style="height: 250px;" alt="">

      </div>
      <div class="column">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <img src="{% static 'image/logo/taktak.png' %}" style="height: 250px;" alt="">
      </div>

    </div>
  </div>
</section>


<section class="section has-text-centered" style="background-image: url(/static/image/b.png); height: 50vh; background-position: center; background-repeat: no-repeat; background-size: cover;;">
  <div class="container">
   
    <h1 class="title is-1 has-text-white" style="font-weight: bold; font-family: 'Courier New', Courier, monospace;">Propulsez votre visibilité</h1>
    <p class="subtitle is-5 has-text-white" style="border-radius: 1px solid;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Nous vous aidons à mettre en place une stratégie marketing qui apportera des informations utiles à votre clientèle.</p>
        <a href="{% url 'expertise' %}" class="button m-2">Découvrez notre Expertises</a>
        <a href="{% url 'soumission' %}" class="button is-link m-2">Contactez notre equipe</a>
      </div>
 
</section>


<section class="section has-text-centered" style="background-color: lightgrey;">
  <div class="container">

    <div data-aos="zoom-in-up">
    <div class="columns mt-6" style="border-radius: 1px solid; font-weight: bold;">
      <div class="card m-2" style="background-color: rgba(226, 213, 213, 0.644);">
      <div class="column" style=" border-radius: 13px solid; box-shadow: 5px 5px; border: 1px solid;">
        <img src="{% static 'image/icons8-source-code-48.png' %}" style="height: 40px;" alt="">
       <a href="{% url 'conception-site-web' %}"><h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family: 'Courier New', Courier, monospace;" >CONCEPTION DE SITE WEB</h4>
        <hr>
        <p class="subtitle is-6" style="font-family:fantasy;">Votre site web est la vitrine pour représenter votre entreprise sur Internet, il est donc plus que nécessaire que vous en soyez fier. Heureusement pour vous, c’est notre spécialité!</p>
      </a>
      </div>
    </div>
    <div class="card m-2">
      <div class="column" style=" border-radius: 13px solid; box-shadow: 5px 5px; border: 1px solid;">
        <img src="{% static 'image/icons8-web-design-100.png' %}" style="height: 40px;"  alt="">
        <a href="{% url 'design-web' %}"><h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family: 'Courier New', Courier, monospace;">DESIGN WEB</h4>
        <hr>
        <p class="subtitle is-6" style="font-family:fantasy;">Projetez une image qui vous représente! Nous prendrons tout le temps nécessaire pour vous présenter un design digne de vos attentes.</p>
      </a>
      </div>
      </div>
      <div class="card m-2">
      <div class="column" style=" border-radius: 13px solid; box-shadow: 5px 5px; border: 1px solid;">
        <img src="{% static 'image/icons8-boutique-64.png' %}"  style="height: 40px;" alt="">
       
        <a href="{% url 'boutique-en-ligne' %}">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family: 'Courier New', Courier, monospace;">BOUTIQUE EN LIGNE</h4>
        <hr>

        <p class="subtitle is-6" style="font-family:fantasy;">Avoir sa propre boutique en ligne est désormais très facile d’utilisation et son coût est beaucoup plus bas que vous pouvez le penser! </p>
      </a>
      </div>
      </div>
    </div>
    </div>
  </div>
</section>
   

      <!--<div style="padding: 20px;">
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          <li  class="subtitle is-6 has-text-centered has-text-white"><a href="#"  class="subtitle is-6 has-text-centered has-text-success">Création site web</a></li>
          <li  class="subtitle is-6 has-text-centered has-text-white"><a href="#"  class="subtitle is-6 has-text-centered has-text-success">Génération de leads</a></li>
          <li  class="subtitle is-6 has-text-centered has-text-white"><a href="#"  class="subtitle is-6 has-text-centered has-text-success">Marketing RH</a></li>
          <li class="is-active"><a href="#" aria-current="page">Branding et design</a></li>
        </ul>
      </nav>
    </div>-->

<section class="section">
  <div class="container">
    <h2 class="subtitle is-5" style="color: rgb(14, 10, 51);" style="font-family: 'Courier New', Courier, monospace;">NOS AUTRES SERVICES</h2>
    <div data-aos="zoom-in-up">
    <div class="columns mt-6" style="border-radius: 1px solid;">
      <div class="card m-2" style="background-color: rgba(226, 213, 213, 0.644);">
      <div class="column" style=" border-radius: 13px solid; box-shadow: 5px 5px; border: 1px solid;">
        <img src="{% static 'image/icons8-application-64 (1).png' %}" style="height: 40px;" alt="">
        <a href="{% url 'application-web' %}">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family: 'Courier New', Courier, monospace;">APPLICATION WEB</h4>
        <hr>
        <p class="subtitle is-6" style="font-family:fantasy;">Avec une application sur mesure, vous augmenterez sans aucun doute votre productivité en économisant du temps précieux.</p>
      </a>
      </div>
    </div>
    <div class="card m-2">
      <div class="column" style=" border-radius: 13px solid; box-shadow: 5px 5px; border: 1px solid;">
        <img src="{% static 'image/icons8-google-ads-48.png' %}" style="height: 40px;" alt="">
        <a href="{% url 'addsent' %}">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family: 'Courier New', Courier, monospace;">Google Ads (SEM)</h4>
        <hr>
        <p class="subtitle is-6" style="font-family:fantasy;">Positionnez votre entreprise et maximisez votre investissement en ligne grâce à une agence experte en référencement AdWords. Propulsez votre visibilité en ligne.</p>
      </a>
      </div>
      </div>
      <div class="card m-2">
      <div class="column" style=" border-radius: 13px solid; box-shadow: 5px 5px; border: 1px solid;">
        <img src="{% static 'image/icons8-seo-64.png' %}" style="height: 40px;"  alt="">
        <a href="{% url 'referencement' %}">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family: 'Courier New', Courier, monospace;">Référencement naturel (SEO)</h4>
        <hr>
        <p class="subtitle is-6" style="font-family:fantasy;">Optimisez votre site Web pour augmenter sa visibilité lorsque les gens recherchent vos produits ou vos services. Plus un site Web a de visibilité sur les moteurs de recherche, plus vous augmenterez les visites sur votre site Web.</p>
      </a>
      </div>
      </div>
    </div>
   </div>
  </div>
</section>



<section class="section" style="background-color: rgba(226, 213, 213, 0.644); border-radius: 1px solid; font-weight: bold;" >
  <div class="container">
    
    <h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">NOS MÉTHODES DE TRAVAIL</h4>
    <p class="subtitle is-6" style="font-family:fantasy;">Notre processus lors d’un projet est principalement axé sur les besoins de notre clientèle. <br> Nous allons bien sûr écouter vos idées et votre vision, mais nous allons aussi prendre le temps d’évaluer la situation pour vous proposer des solutions auxquelles vous n’auriez peut-être pas pensé. <br> Ralliant vos idées et notre expertise, le résultat ne peut qu’être génial !</p>
  
  </div>
</section>




<section class="section">
  <div class="container">
    <div data-aos="zoom-in-up">
    <div class="columns p-3 mt-3" style="border-radius: 1px solid; font-weight: bold;">
      <div class="card m-2 p-2">
      <div class="column">
        <img src="{% static 'image/1number_1_3080.png' %}" style="height: 50px;" alt="">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">PLANIFICATION ET STRATÉGIE</h4>
        <hr>
        <p class="subtitle is-6" style="font-family:fantasy;">On se rencontre, on discute de votre vision de votre projet et on évalue toutes les possibilités. Suite à cela, nous planifions la meilleure stratégie possible pour mener votre projet au-delà de vos espérances.</p>
      </div>
    </div>
    <div class="card m-2 p-2">
      <div class="column">
        <img src="{% static 'image/2number_2_3830.png' %}" style="height: 50px;" alt="">

        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">DESIGN ET DÉVELOPPEMENT</h4>
        <hr>
        <p class="subtitle is-6" style="font-family:fantasy;">Il est primordial que votre site Web reflète l’image de votre entreprise, c’est pourquoi nous vous fournirons un design qui saura bien vous représenter. Ensuite vient le temps de la programmation pour que votre site ait toutes les fonctionnalités techniques dont vous avez besoin.</p>

      </div>
    </div>
    <div class="card m-2 p-2">
      <div class="column">
        <img src="{% static 'image/3number_3_3078.png' %}" style="height: 50px;" alt="">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">TESTS ET MISE
          EN LIGNE
          </h4>
          <hr>
        <p class="subtitle is-6" style="font-family:fantasy;">Il s’agit d’une étape très importante pour que vous soyez satisfait du résultat final : on analyse en profondeur toutes les pages, vérifie chaque lien, remplit les formulaires etc. Bref, on teste l’ensemble du site pour s’assurer qu’aucun bogue n’est présent. Ensuite, il ne reste qu’à mettre le site en ligne et à être fier du travail accompli!</p>
      </div>
      </div>
      <div class="card m-2 p-2">
      <div class="column">
        <img src="{% static 'image/4number_4_3076.png' %}" style="height: 50px; color: brown;" alt="">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">SERVICE APRÈS VENTE
          </h4>
          <hr>
        <p class="subtitle is-6" style="font-family:fantasy;">Le projet est terminé, tout fonctionne parfaitement, avons-nous terminé notre travail? Certainement pas! Nous serons présents par la suite pour vous aider et répondre à vos questions.</p>
      </div>
      </div>
    </div>
    </div>
  </div>
</section>




<section class="section" style="background-image: url(/static/image/banner6.png); background-position: center; background-repeat: no-repeat;background-size: cover; border-radius: 1px solid; font-weight: bold; font-family: 'Courier New', Courier, monospace;">
  <h1 class="title is-4 has-text-centered has-text-white">Discutons de votre projet!</h1>
  <div class="container">   
    <div class="container my-5 mt-5 mx-5 px-5">
      <h2 class="title is-2 is-capitalized has-text-white">Contactez-Nous</h2>
      <form  method="post">
        {% csrf_token %}
          <div class="field">
              <label  class="label is-size-4 has-text-weight-light"></label>
              <div class="control has-icons-left">
                  <input type="text" name="nom" class="input" placeholder="Nom complet" >
                      <span class="icon is-left">
                          <i class="fa fa-user"></i>
                      </span>
              </div>
          </div>
    
          <div class="field">
              <label class="label is-size-4 has-text-weight-light"></label>
              <div class="control has-icons-left">
                  <input type="email" name="courrier" class="input" placeholder="Courrier">
                      <span class="icon is-left">
                          <i class="fa fa-envelope"></i>
                      </span>
              </div>
          </div>
    
          
          <div class="field">
            <label class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="text" name="numero" class="input" placeholder="Numero" >
                    <span class="icon is-left">
                        <i class="fa fa-phone"></i>
                    </span>
            </div>
        </div>
    
        
        <div class="field">
          <label class="label is-size-4 has-text-weight-light"></label>
          <div class="control has-icons-left">
            <select class="select" name="sujet">
              <option value="Création de site Web">Création de site Web</option>
              <option value="Référencement Google">Référencement Google</option>
              <option value="Application web">Application web</option>
              <option value="Google Ads (SEM)">Google Ads (SEM)</option>
              <option value="Marketing">Marketing</option>
              <option value="Autre">Autre</option>
            </select>
                  <!--<span class="icon is-left">
                      <i class="fa fa-user"></i>
                  </span>-->
          </div>
      </div>
    
          <div class="field">
              <label for="message" class="label is-size-4 has-text-weight-light"></label>
              <textarea name="message"  rows="5" class="textarea is-medium" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="button is-link is-rounded is-small is-size-5">Envoyer</button>
      </form>
    </div>
  </div>
</section>





<style>
  .dot {
  height: 25px;
  width: 25px;
  background-color: chartreuse;
  border-radius: 50%;
  display: inline-block;
}



.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #1b00b7 0%,
    #0eff2e 29%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 80px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
</style>
{% endblock %}