{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}


<section class="hero is-primary is-fullheight">

    <div class="row-hero">
        <video class="video" poster="https://imelgrat.me/demo/images/moth.jpg" autoplay playsinline muted loop>
          <source src="https://imelgrat.me/demo/videos/moth.webm" type="video/webm">
        </video>
      <div class="video-quote">
        <p>Fridolaben rasi fusi grasibader ingemeinheit zumtgewankt.</p>
      </div>
      </div>

  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" class="box">
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="e.g. bobsmith@gmail.com" name="email" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" name="password" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <!--<div class="field">
              <label for="" class="checkbox">
                <input type="checkbox">
               Remember me
              </label>
            </div>-->
            <div class="field">
              <button type="submit" class="button is-success">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



<style>

.row-hero {
	height: 20rem;
	width: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
	@media(min-width: 480px) {
		.row-hero {
			height: 25rem;
		}
	}
	@media(min-width: 720px) {
		.row-hero {
			height: 35rem;
		}
	}

.video {
	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	width: auto;
	z-index: -1;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
}

.video-quote {
	z-index: 1;
	padding: .5rem 1rem;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
}

</style>
{% endblock %}