{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}

<section class="hero" style="background-image: url(/static/image/google-g7f86e26ff_1920.jpg); background-position: center; background-repeat: no-repeat;background-size: cover; height: 70vh; border-radius: 1px solid; font-weight: bold; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="hero-body">
    </div>

</section>


<section class="section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <h1 class="title is-5 has-text-centered" style="color: rgb(14, 10, 51);">RÉFÉRENCEMENT PAYANT (ADWORDS)</h1>
        <div class="card p-2 m-2">
        <h4 class="subtitle is-5 has-text-centered" style="color: rgb(14, 10, 51);">1 CLIC = 1 VISITE</h4>
        <p class="subtitle is-6">
            Le référencement naturel (SEO) est loin d’être la seule façon d’amener plus de visiteurs sur votre site Web, le référencement payant (ou pay-per-click) représente une source de trafic potentielle extrêmement importante. Puisque Google est le moteur de recherche le plus souvent utilisé (90% des recherches dans le monde sont faites à partir de Google), mieux vaut y concentrer ses efforts pour les campagnes de référencement payant. De plus, Google offre un service bien implanté de publicité au clic, nommé Google Adwords. Ce qui est le plus avantageux avec ce type de campagne est l’on paye au nombre de clics qui se fait sur la publicité, ce qui assure que l’on en a pour son argent !
        </p>
    </div>
    <div class="card p-2 m-2">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">CRÉATION D’UNE CAMPAGNE ADWORDS</h4>
        <p class="subtitle is-6">Lors de la création de la campagne Adwords, le secret de son succès se trouve dans le choix de différents mots-clés. En effet, il est important d’effectuer une recherche approfondie pour trouver les mots que vos futurs clients écriront lors de leur recherche sur Google. Heureusement pour vous, notre expertise nous permet de choisir les mots-clés parfaits pour un rendement optimal de la campagne, votre budget publicitaire est donc entre de bonnes mains !</p>
        
    </div>
    </div>
</section>

<!--<section class="section has-text-centered" style="background-color: rgb(14, 10, 51);">
    <div class="container">
        <h1 class="title is-5 has-text-white">BESOIN D'AIDE ?</h1>
        <a href="{% url 'soumission' %}" class="button">DEMANDER  UNE SOUMISSION</a>

    </div>
</section>-->
{% endblock %}