{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}

<section class="hero" style="background-image: url(/static/image/google-g4eb489b87_1920.png); background-position: center; background-repeat: no-repeat; background-size: cover; height: 70vh; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="hero-body">

    </div>
</section>


<section class="section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <h4 class="subtitle has-text-centered is-4" style="color: rgb(14, 10, 51);">RÉFÉRENCEMENT (SEO)</h4>
        <h4 class="subtitle has-text-centered is-5" style="color: rgb(14, 10, 51);">ÊTRE BIEN PLACÉ SUR GOOGLE</h4>
        <p class="subtitle is-6">
            De nos jours, il existe une compétition féroce pour une bonne présence Web entre les différentes entreprises du même secteur, il est donc devenu plus que nécessaire que votre site Web ait une présence maximale dans les moteurs de recherche comme Google, Bing et Yahoo. En effet, Google est le principal responsable du trafic généré sur votre site, c’est ici que le référencement organique, aussi appelé référencement naturel ou SEO prend toute son importance.
        </p>
        <div class="card m-2 p-2">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">ANALYSE DE VOTRE SITE WEB:</h4>
        <p class="subtitle is-6">En analysant votre site Web, nous sommes en mesure de déceler les actions à prendre pour favoriser sa présence dans les moteurs de recherche. Comme Google réalise fréquemment des scans de tous les sites Web présents sur Internet pour ainsi offrir aux utilisateurs les meilleurs résultats pour leurs recherches, il faut bien connaître son fonctionnement pour ensuite lui acheminer les informations optimales pour le référencement.</p>
    </div>
    <div class="card m-2 p-2">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">RÉFÉRENCEMENT NATUREL (SEO)</h4>
        <p class="subtitle is-6">
            Lorsqu’un utilisateur réalise une recherche, Google veut lui offrir le meilleur résultat possible, principalement en fonction des mots utilisés, mais aussi de sa position géographique. Il faut donc faire une recherche approfondie des mots-clés les plus souvent recherchés par votre clientèle et de les positionner aux endroits où les moteurs de recherche les détectent le plus efficacement.
        </p>
    </div>
    <div class="card m-2 p-2">

        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">RÉDACTION DE TEXTES</h4>
        <p class="subtitle is-6">
            Comme le contenu de votre site est analysé par les moteurs de recherche, vos textes doivent refléter ce que vos clients recherchent. Nous sommes donc en mesure de vous proposer un service de rédaction complet, des modifications partielles de vos textes pour améliorer leur efficacité ou tout simplement un support et des conseils à la rédaction.
        </p>
    </div>
    </div>
</section>

{% endblock %}