{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}


<section class="section has-text-centered"  style=" border-radius: 1px solid; font-weight: bold;">
    <div class="container">
        <h4 class="title is-5 has-text-centered" style="color: rgb(14, 10, 51);  font-family: 'Courier New', Courier, monospace;">HEURES D’OUVERTURE</h1>
        <p class="subtitle is-6 has-text-centered">Nos heures de travail officielles sont du lundi au vendredi de 8h à 18h. Cependant, n’hésitez pas à nous appeler en dehors de ces heures, il nous fera plaisir de vous répondre si nous sommes disponibles</p>
        
        <div class="box" style="background-color:lightgrey;">
            <h1 class="title is-4" style="color: rgb(14, 10, 51);  font-family: 'Courier New', Courier, monospace;">LÂCHEZ NOUS UN COUP DE FIL ! </h1>
            <img src="{% static 'image/alexander-shatov-PEJtZfT6C1Q-unsplash.jpg' %}"  style="height: 200px;" alt="">
        <h4 class="subtitle is-5 has-text-centered" style=" font-family: 'Courier New', Courier, monospace;">CONTACTEZ-NOUS &#128172;</h4>
          <p class="subtitle is-5" style="color: rgb(14, 10, 51);  font-family: 'Courier New', Courier, monospace;">Appelez nous en un clique </p>
        <p class="subtitle is-6"><a href="tel:62923520" style="color: rgb(14, 10, 51);  font-family: 'Courier New', Courier, monospace;">  Phone: +241 62-923-520 </a></p>
        <p class="subtitle is-6"><a href="tel:+21651208699" style="color: rgb(14, 10, 51);  font-family: 'Courier New', Courier, monospace;">Fax: +216 51-208-699</a></p>
        <p class="subtitle is-6"><a href ="mailto:takmediaservice@gmail.com" style="color: rgb(14, 10, 51);  font-family: 'Courier New', Courier, monospace;">E-mail: takmediaservice@gmail.com</a></p>
    </div>
        </div>   
    
</section>
<section class="section" style="background-image: url(/static/image/c.png); background-position: center; background-repeat: no-repeat;background-size: cover; font-weight: bold;  font-family: 'Courier New', Courier, monospace;">
    <div class="container">
     <h4 class="subtitle is-5 has-text-white">Obtenez une soumission gratuite</h4>
      <p class="subtitle is-6 has-text-centered has-text-white">Profitez d’un service personnalisé et de qualité. Si vous avez des demandes ou des questions, vous recevrez une réponse dans les 24h.</p>
      <div class="field">
        <div class="control">
          <form  method="post">
            {% csrf_token %}
              <div class="field">
                  <label  class="label is-size-4 has-text-weight-light"></label>
                  <div class="control has-icons-left">
                      <input type="text" name="nom" class="input" placeholder="Nom complet" >
                          <span class="icon is-left">
                              <i class="fa fa-user"></i>
                          </span>
                  </div>
              </div>
        
              <div class="field">
                  <label class="label is-size-4 has-text-weight-light"></label>
                  <div class="control has-icons-left">
                      <input type="email" name="courrier" class="input" placeholder="Courrier">
                          <span class="icon is-left">
                              <i class="fa fa-envelope"></i>
                          </span>
                  </div>
              </div>
        
              
              <div class="field">
                <label class="label is-size-4 has-text-weight-light"></label>
                <div class="control has-icons-left">
                    <input type="text" name="numero" class="input" placeholder="Numero" >
                        <span class="icon is-left">
                            <i class="fa fa-phone"></i>
                        </span>
                </div>
            </div>
        
            <div class="field">
              <label class="label is-size-4 has-text-weight-light"></label>
              <div class="control has-icons-left">
              <input type="text" class="input" name="entreprise" placeholder="Entreprise">
                      <span class="icon is-left">
                          <i class="fa fa-home"></i>
                      </span>
              </div>
          </div>

            
            <div class="field">
              <label class="label is-size-4 has-text-weight-light"></label>
              <div class="control has-icons-left">
                <select class="select" name="sujet">
                  <option value="Création de site Web">Création de site Web</option>
                  <option value="Référencement Google">Référencement Google</option>
                  <option value="Application web">Application web</option>
                  <option value="Google Ads (SEM)">Google Ads (SEM)</option>
                  <option value="Marketing">Marketing</option>
                  <option value="Autre">Autre</option>
                </select>
                      <!--<span class="icon is-left">
                          <i class="fa fa-user"></i>
                      </span>-->
              </div>
          </div>

      <input type="text" class="input" name="captcha" placeholder="captcha">

        
              <div class="field">
                  <label for="message" class="label is-size-4 has-text-weight-light"></label>
                  <textarea name="message"  rows="5" class="textarea is-medium" placeholder="Message"></textarea>
              </div>
              <button type="submit" class="button is-link is-rounded is-small is-size-5">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>














{% endblock %}