{% extends 'takmedia/base.html' %}

{% load static %}



{% block content %}

<section class="section" style="background-image: url(/static/image/b6.jpg); height: 50vh; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">

    </div>
</section>


<section class="section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <h1 class="title is-5 has-text-centered" style="color: rgb(14, 10, 51);">NOTRE ÉQUIPE</h1>
        <div class="card m-2 p-2">
        <p class="subtitle is-6">
            La réalisation d’un site web réussi et commercialement performant fait appel à de nombreuses compétences. L’équipe de TAKTA-MEDIA est composée des différents profils indispensables à la bonne conduite d’un projet. Ceux-ci sont les différents maillons de la chaîne de production et vont intervenir successivement tout au long de l’élaboration de votre site web.
        </p>
        <p class="subtitle is-6 ">
            Notre plus grande fierté, c’est de travailler, nous collaborons chaque jour pour donner le meilleur de nous-mêmes. Nous sommes TAKTA-MEDIA .
        </p>
    </div>
    <!--<div class="card m-2 p-2">
        <h4 class="subtitle is-5" style="color: rgb(14, 10, 51);">EXEMPLE CONCRET D’UNE APPLICATION WEB:</h4>
        <p class="subtitle is-6">Vous travaillez dans un domaine où vous devez remplir des soumissions sous forme de formulaire directement chez vos clients? Nos Applications Web peuvent automatiser tout ce processus. Vous remplissez tout le formulaire directement sur votre cellulaire et vous pouvez même faire signer ceux-ci directement sur votre appareil. Ensuite, toutes ces informations sont sauvegardées dans la base de données du site, vous pouvez donc y avoir accès facilement n”importe quand. Il est aussi possible de créer un espace-client afin que ceux-ci puissent avoir accès aux informations que vous voulez leurs présenter, une copie de la soumission, des dates importantes, des photos prises lors de la rencontre, etc.. Vous pourrez aussi envoyer des courriels automatisés à vos fournisseurs pour les informer des matières nécessaires ou d’envoyer la soumission acceptée à vos clients. Bref, tout est réalisable !</p>
    </div>-->
    </div>
</section>

{% endblock %}