{% extends 'takmedia/base.html' %}

{% load static %}


{% block content %}

<section class="hero" style="background-image: url(/static/image/website.jpg); background-position: center; background-repeat: no-repeat;background-size: cover; height: 70vh; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="hero-body">

    </div>
    <h4 class="title is-5 has-text-centered" style="color: rgb(14, 10, 51);">TECHNOLOGIES UTILISÉES</h1>
    <p class="subtitle is-6 has-text-centered" style="color: rgb(14, 10, 51)">PROGRAMMATION SANS FAILLE</p>
</section>

<section class="section" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <p class="subtitle is-6">Pour la conception de la plupart des sites que nous créons, nous valorisons l’utilisation de la plate-forme libre WordPress. Plus de 50% de tous les sites Web de la planète l’utilisent comme système de gestion de contenu. Ses principaux avantages sont la flexibilité qu’elle offre pour l’intégration de différents logiciels, notamment ceux en commerce électronique, le fait qu’elle est particulièrement performante pour le référencement dans les moteurs de recherche et qu’elle est facile et intuitive d’utilisation, même pour les webmestres moins expérimentés.</p>

        <p class="subtitle is-6">Cependant, pour des projets de grande envergure qui nécessite de la programmation sur mesure, WordPress n’est plus nécessairement le meilleur choix possible. C’est pourquoi notre équipe de programmeurs expérimentés prendra le temps d’évaluer vos besoins et ainsi vous proposer la meilleure solution. Rien n’est impossible pour notre équipe, nous serons en mesure de développer un site qui répond à tous vos besoins !</p>
    </div>
</section>













{% endblock %}